*{
    margin: 0;
    padding: 0;
}
.box1{
    background-color: red;
    width: 50%;
    height: 250px;
    float:left;
    text-align: center;
   
}
.box2{
    background-color:green;
    width: 50%;
    height: 250px;
    float:right;
    text-align: center;
}
.box3{
     background-color:black;
    text-align: center;   
    clear: right;
    height: 50px;
    width: 100%;
}
.box4{
    background-color:black; 
    text-align: center;
}
.box1 h1{
    margin-top: 100px;
    color: #fff;
}
.box2 h1{
    margin-top: 100px;
    color: #fff;
}
.box3 h1{
    color: #fff;
}
.box4 h1{
    color: #fff;
}